@import "bootstrap-sprockets";
@import "bootstrap";

$blue: #555;
$gray-light: #777;
$green: #222;
$red: #f00;
$violet: #bbb;
$white: #fff;
$gray-lighter: #eaeaea;
$graywhite: #e8e8e8;

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

@mixin box-sizing {
  box-sizing: border-box;
}

.debug-dump {
  @include box-sizing;
  clear: both;
  float: left;
  margin-top: 45px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  color: $gray-light;
  font-size: 1.2em;
  font-weight: normal;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.logo {
  color: $white;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
  text-transform: uppercase;

  &:hover {
    color: $white;
    text-decoration: none;
  }

}

footer {
  border-top: 1px solid $gray-lighter;
  color: $gray-light;
  margin-top: 45px;
  padding-top: 5px;

  a {
    color: $blue;

    &:hover {
      color: $green;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      margin-left: 15px;
    }
  }
}

aside {
  section {
    margin-top: 20px;
    padding: 10px 0;

    .user-info {
      margin-top: 20px;
    }

    &:first-child {
      border: 0;
      padding-top: 0;
    }

    span {
      display: block;
      line-height: 1;
      margin-bottom: 3px;
    }

    h1 {
      font-size: 1.4em;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0;
      text-align: left;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar-edit {
  margin-top: 15px;
}

input,
textarea,
select,
.uneditable-input {
  @include box-sizing;

  border: 1px solid $violet;
  margin-bottom: 15px;
  width: 100%;
}

input {
  height: auto !important;
}

.error-explanation {
  color: $red;

  ul {
    color: $red;
  }
}

.checkbox {
  margin-bottom: 10px;
  margin-top: -10px;

  span {
    font-weight: normal;
  }
}

.remember-me {
  margin-left: 0;
  width: auto;
}

.users {
  list-style: none;
  margin: 0;

  li {
    border-bottom: 1px solid $gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }
}

.microposts {
  list-style: none;
  padding: 0;

  li {
    border-top: 1px solid $graywhite;
    padding: 10px 0;
  }

  .user {
    margin-top: 5em;
    padding-top: 0;
  }

  .content {
    display: block;
    margin-left: 60px;

    img {
      display: block;
      padding: 5px 0;
    }
  }

  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }

  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span {
  .picture {
    margin-top: 10px;

    input {
      border: 0;
    }
  }
}
